[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vertigo
Icon=vertigo.png
Exec=vertigo
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;Simulation;
